# Homework 2

In this homework you will complete a couple of simple exercises in order to show your understanding with Python. If these exercises are challenging or new to you, you may want to reconsider taking the class and/or brush up on your Python skills. For the following exercises you are not allowed to use any Python packages (i.e. Numpy, Pandas, etc.).

### Please print the output of each question in a new cell below your code

In [ ]:
# These lines load the autograder tests. DO NOT change this
from client.api.notebook import Notebook
ok = Notebook('hw02.ok')
ok.auth(inline=True)
score_counter = 0

## Lists

1.1 Create an empty Python list called 'a' in the cell below.

In [ ]:
#your code here

In [ ]:
val = ok.grade("q1a")
score_counter = score_counter + 1 if val['passed'] == 1 else score_counter

1.2 Store all values between 1-100 (inclusive) with increments of 3 (i.e. 1, 4, 7...) in 'a'.

In [ ]:
#your code here

In [ ]:
val = ok.grade("q1b")
score_counter = score_counter + 1 if val['passed'] == 1 else score_counter

1.3 Create another list called 'a2' with numbers from 2-46 (inclusive) with increments of 0.5 (i.e. 2, 2.5, 3...).

In [ ]:
#your code here

In [ ]:
val = ok.grade("q1c")
score_counter = score_counter + 1 if val['passed'] == 1 else score_counter

1.4 Double every even integer element from list 'a'. Store the results back in 'a'.

In [ ]:
#your code here

In [ ]:
val = ok.grade("q1d")
score_counter = score_counter + 1 if val['passed'] == 1 else score_counter

1.5 Add all numbers in 'a' except for the 2nd and 21st elements (the 2nd element here means the element at list index 1).

In [ ]:
#your code here

In [ ]:
val = ok.grade("q1e")
score_counter = score_counter + 1 if val['passed'] == 1 else score_counter

1.6 Calculate the mean of 'a'.

In [ ]:
#your code here

In [ ]:
val = ok.grade("q1f")
score_counter = score_counter + 1 if val['passed'] == 1 else score_counter

1.7 Delete all elements greater than the mean value from list 'a'

In [ ]:
#your code here

In [ ]:
val = ok.grade("q1g")
score_counter = score_counter + 1 if val['passed'] == 1 else score_counter

## Strings

2.1 Create an empty list called 'b'.

In [ ]:
#your code here

In [ ]:
val = ok.grade("q2a")
score_counter = score_counter + 1 if val['passed'] == 1 else score_counter

2.2 Store the words in the sentence below as elements into the list 'b'.  

'I am so excited about Data-X. It is important to be able to work with data.'

In [ ]:
#your code here

In [ ]:
val = ok.grade("q2b")
score_counter = score_counter + 1 if val['passed'] == 1 else score_counter

2.3 Return the count of the occurences of the lower-case letter 'e' in the list 'b'.

In [ ]:
#your code here

In [ ]:
val = ok.grade("q2c")
score_counter = score_counter + 1 if val['passed'] == 1 else score_counter

2.4 Replace every lower- or upper-case letter 'i' in the list b with a '1'.

In [ ]:
#your code here

In [ ]:
val = ok.grade("q2d")
score_counter = score_counter + 1 if val['passed'] == 1 else score_counter

2.5 Append the string "This is the end of the first HW." to the list 'b'.

In [ ]:
#your code here

In [ ]:
val = ok.grade("q2e")
score_counter = score_counter + 1 if val['passed'] == 1 else score_counter

2.6 Print 'b' as ONE string backwards (starting with "WH tsrif...").

In [ ]:
#your code here

In [ ]:
val = ok.grade("q2f")
score_counter = score_counter + 1 if val['passed'] == 1 else score_counter

## Dictionaries

3.1 Put the following in a dictionary called 'codes':

Keys: 1001, 1002, 1003, 1004, 1005   
Values: 'Alpha', 'Beta', 'Gamma', 'Delta', 'Tau'

then traverse the dictionary by its keys and change every value to be all lower case.

In [ ]:
#your code here

In [ ]:
val = ok.grade("q3a")
score_counter = score_counter + 1 if val['passed'] == 1 else score_counter

3.2 Delete 'alpha' from the dictionary.

In [ ]:
#your code here

In [ ]:
val = ok.grade("q3b")
score_counter = score_counter + 1 if val['passed'] == 1 else score_counter

## Sets

4.1 Create a set called 'c' with the all the odd numbers less than 10.

In [ ]:
#your code here

In [ ]:
val = ok.grade("q4a")
score_counter = score_counter + 1 if val['passed'] == 1 else score_counter

4.2 Create another set called 'd' with elements 2, 5, 10, 30.

In [ ]:
#your code here

In [ ]:
val = ok.grade("q4b")
score_counter = score_counter + 1 if val['passed'] == 1 else score_counter

4.3 Find the union between sets 'c' and 'd' and store this in a new set called 'e'.

In [ ]:
#your code here

In [ ]:
val = ok.grade("q4c")
score_counter = score_counter + 1 if val['passed'] == 1 else score_counter

4.4 Find the intersection between sets 'c' and 'd' and assign it to a variable `result`.

In [ ]:
#your code here

In [ ]:
val = ok.grade("q4d")
score_counter = score_counter + 1 if val['passed'] == 1 else score_counter

### Make sure you save and run the entire file at this point: Kernel -> Restart and Run All

Use the bottom cell for calculating your total expected score for your own reference.

In [ ]:
import os
max_score = len([1 for q in os.listdir("tests") if q.startswith('q')])

In [ ]:
## For your reference only
print(f'Your score: {score_counter}')
print(f'Max expected score: {max_score}')

### Submission

Save this notebook as a pdf file: Ctrl (Cmd) + P for print preview -> Save as PDF and upload the pdf onto the Gradescope assignment.

## Contributors:
Ikhlaq Sidhu: sidhu @ berkeley edu

Arash Nourian: nourian @ berkeley edu

Alexander Fred-Ojala: afo @ berkeley edu

Lillian Dong: lilliandong @ berkeley edu

Ishaan Malhi: ishaan.malhi @ berkeley edu

Sana Iqbal: sanaiqbalsana @ yahoo in